*{
    margin: 0;
    padding: 0;
}
 body
{
    background-image: url("../img/background.jpg");
    background-size: cover;
    overflow: hidden;
    color: white;
}
@font-face
{
    font-family: myFont;
    src: url('Pasajero.otf');
}
img
{
    width: 240px;
}
h1
{
  font-family: "myFont";
    font-size: 5em;
    padding-bottom: 0;
    text-align: center;
    color: #f3f3f3;
}
p
{
    padding-bottom: 6%;
    font-size: 0.9em;
    margin-top: -10px;
    font-family: "Verdana","sans-serif";
}
a button
{
    position: absolute;
    top: 3%;
    text-align: center;
    border: 0;
    left: 65%;
    color: white;
    font-size: .8em;
    font-family: myFont;
    padding: 8px;
    box-shadow: -1px 1px 10px 0.1px rgba(0,0,0,0.35);

    
}
@media only screen and (max-width: 1260px) and (min-width: 1026px) 
{
    img
    {
        width: 180px;
    }
    h1
    {
        font-size: 3em;
    }
    p
    {
        font-size: 0.5em;
    }
    a button
    {
        font-size: 0.8em;
    }
}
@media only screen and (max-width: 1025px)
{
    img
    {
        width: 120px;
    }
    h1
    {
        font-size: 3em;
    }
    p
    {
        font-size: 0.5em;
    }
    a button
    {
        font-size: 0.5em;
    }
}