.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
    left: 50%;
    margin-left: -30px;
    
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #45cc45;
  -webkit-transition: .9s;
  transition: .9s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .9s;
  transition: .9s;
}

input:checked + .slider {
  background-color: #ff0014;
}

input:focus + .slider {
  box-shadow: 0 0 1px #45cc45;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
p
{
    background: #222;
    color: white;
    font-size: 1.3em;
    padding: 15px;
}
.pads
{
    padding: 25px;
    box-shadow: -1px 1px 10px 0.1px rgba(0,0,0,0.35);
}
@font-face
{
    font-family: myFont;
    src: url('Pasajero.otf');
}
body
{
    font-family: 'Roboto', sans-serif;
      background: #333;
}
h3
{
    color: white;
}
.row {
	font-family: myFont;
    color: #464646;
}
